image: rust:1.88.0-slim-trixie

variables:
  GIT_SUBMODULE_STRATEGY: recursive

# Set overall pipeline rules to avoid duplicated pipelines
# https://docs.gitlab.com/ee/ci/yaml/index.html#exclude-jobs-with-rules-from-certain-pipelines
workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

stages:
  - style
  - test

# TODO: enable clippy once warnings are fixed
style:
  stage: style
  before_script:
    - !reference [.install-rust, before_script]
  script:
#    - cargo clippy --no-deps -- -D warnings
    - cargo fmt --check

test:
  stage: test
  before_script:
    - !reference [.install-rust, before_script]
  script:
    - cargo test --release --all-features --workspace

.install-rust:
  before_script:
    - DEBIAN_FRONTEND=noninteractive apt-get update
    - DEBIAN_FRONTEND=noninteractive apt-get install -y libxfce4util-dev libxfconf-0-dev
    - DEBIAN_FRONTEND=noninteractive apt-get clean
